* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #DBDBD3;
    font-family: sans-serif;
}

#header-empty {
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: -1;

    width: 100%;
    height: 220px;
    background-color: #2E9688;
}

/* Inizio BoolzApp */

main {
    display: flex;
    justify-content: flex-start;

    max-width: 1600px;
    height: 960px;

    margin: 30px auto;

    padding-left: 10px;
    padding-right: 10px;
}

/* 

PARTE SINISTRA
ANTEPRIME DELLE CHAT

*/


#chats-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 560px;
    height: 100%;

}

/* Profilo personale */

#my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 70px;

    padding-left: 8px;

    background-color: #EAEAEA;
}

#my-profile .person-img {
    display: flex;
    align-items: center;
    gap: 2px;
}

.my-img {
    width: 50px;
    height: 50px;
    
}

.my-img img {
    width: 100%;
    border-radius: 50%;
    
}

.pr-icons {
    display: flex;
    gap: 20px;

    padding-right: 25px;
}

.pr-icons i {
    color: #B1B1B1;
    font-size: 25px;
}


/* Notifiche */

#notific-received {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 80px;

    padding-left: 15px;

    background-color: #8EDAFC;
}

#notific-received .bell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: white;
}

#notific-received .bell i {
    color: #8EDAFC;
}

#notific-received a {

    color: #B1B1B1;
    font-size: 0.9em;
}

/* Filtro ricerca */

#chats-filter {
    display: flex;
    align-items: center;
    gap: 40px;

    width: 100%;
    height: 50px;
    background-color: white;
}

#chats-filter i {

    padding-left: 30px;
    color: #B1B1B1;

}

#chats-filter input {
    flex-grow: 1;
    
    height: 100%;

    margin-right: 30px;

    border: none;
} 

/* Persone con cui chattare */

#chats {

    width: 100%;
    height: 100%;

    /* Per ora lo metto auto */
    overflow-y: auto;

    background-color: #FFFFFF;
}

#chats .single-chat {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 80px;

    padding-left: 15px;

    /* test  */
    border: 1px dashed black;
}

#chats .friend {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    flex-grow: 1;
    height: 100%;

}

#chats .friend img {

    width: 50px;
    height: 50px;

    border-radius: 50%;
    
}

#chats .friend-name {
    font-size: 1.2em;
}

#chats .last-mess {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;
}

#chats .time-message {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;

    padding-right: 10px;
    padding-top: 10px;
}


/* 

PARTE DESTRA
CHAT APERTA

*/

#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;
    height: 100%;

    /* test */
    border: 1px green solid;
}



