* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #DBDBD3;
    font-family: sans-serif;
}

#header-empty {
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: -1;

    width: 100%;
    height: 220px;
    background-color: #2E9688;
}

/* Inizio BoolzApp */

main {
    display: flex;
    justify-content: flex-start;

    max-width: 1600px;
    height: 960px;

    margin: 30px auto;

    padding-left: 10px;
    padding-right: 10px;
}

/* Stile in comune per icone header destra e sinistra */

.pr-icons {
    display: flex;
    gap: 20px;

    padding-right: 25px;
}

.pr-icons i {
    color: #B1B1B1;
    font-size: 25px;
}

/* Classi da gestire con js */

.active {
    background-color: red;
}
/* 

PARTE SINISTRA
ANTEPRIME DELLE CHAT

*/


#chats-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 560px;
    height: 100%;

    background-color: #FFFFFF;

}

/* Profilo personale */

#my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 70px;

    padding-left: 8px;

    background-color: #EAEAEA;
}

#my-profile .my-img {
    display: flex;
    align-items: center;
    gap: 2px;
}

.my-img {
    width: 50px;
    height: 50px;
    
}

.my-img img {
    width: 100%;
    border-radius: 50%;
    
}


/* Notifiche */

#notific-received {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 80px;

    padding-left: 15px;

    background-color: #8EDAFC;
}

#notific-received .bell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: white;
}

#notific-received .bell i {
    color: #8EDAFC;
}

#notific-received a {

    color: #B1B1B1;
    font-size: 0.9em;
}

/* Filtro ricerca */

#chats-filter {
    display: flex;
    align-items: center;
    gap: 40px;

    width: 100%;
    height: 50px;
    background-color: white;
}

#chats-filter i {

    padding-left: 30px;
    color: #B1B1B1;

}

#chats-filter input {
    flex-grow: 1;
    
    height: 100%;

    margin-right: 30px;

    border: none;
} 

/* Persone con cui chattare */

#chats {

    width: 100%;
    height: calc(100% - 70px - 80px -50px );

    overflow-y: scroll;

    background-color: #FFFFFF;
}

#chats .single-chat {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 80px;

    padding-left: 15px;

}


#chats #friend {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    flex-grow: 1;
    height: 100%;

}

#chats #friend img {

    width: 50px;
    height: 50px;

    border-radius: 50%;
    
}

#chats .friend-name {
    font-size: 1.2em;
}

#chats .last-mess {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;
}

#chats .time-message {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;

    padding-right: 10px;
    padding-top: 10px;
}


/* 

PARTE DESTRA
CHAT APERTA

*/

#open-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;
    height: 100%;

}

/* Header Chat aperta */

#open-chat .friend-opened {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    width: 100%;
    height: 70px;

    background-color: #EAEAEA;
    border-left: 1px solid #B1B1B1;
}

.info-opened-friend {
    display: flex;
    align-items: center;
    gap: 15px;

    padding-left: 8px;

}

#open-chat .friend-opened img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.info-opened-friend .friend-name {
    font-size: 1.2em;
}

.info-opened-friend .last-message {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;


}

/* Corpo del messaggio */

#open-messages {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    width: 100%;
    height: calc(100% - 70px - 70px);

    background-image: url("../img/mine.jpg");
}

#message {
    position: relative;

    width: 100%;
    padding-left: 100px;
    
}

#message:first-of-type {
    margin-top: 55px;
}

.sent {
    position: absolute;
    top: 0px;
    right: 100px;

    display: flex;
    align-items: center;

    padding-left: 15px;

    width: 325px;
    height: 50px;
    border-radius: 5px;
    background-color: #C2E3A9;
}

.received {
    position: absolute;
    top: 0px;
    left: 100px;

    display: flex;
    align-items: center;

    padding-left: 15px;
    width: 325px;
    height: 50px;
    border-radius: 5px;

    padding-bottom: 10px;

    background-color: #FDFDFD;
}


/* per scrivere messaggi */

#write-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    width: 100%;
    height: 70px;

    background-color: #E5E0DD;
}


#write-message .left-part-mess, 
#write-message .right-part-mess {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#write-message i {
    font-size: 25px;
    color: #6B7375;
}


#write-message .central-part-mess {
    flex-grow: 1;
}

#write-message .central-part-mess input {
    width: 100%; 
    height: 50px;

    border: none;
    border-radius: 4px;
    
}



