* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #DBDBD3;
    font-family: sans-serif;
}

#changing-theme {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: -1;

    width: 100%;
    height: 150px;
    background-color: #2E9688;
}

#changing-theme i {
    color: black;
    font-size: 25px;
    padding: 10px;
}

/* Inizio BoolzApp */

main {
    display: flex;
    justify-content: flex-start;

    max-width: 1600px;
    height: 800px;

    margin: 30px auto;

    padding-left: 50px;
    padding-right: 50px;
}

.dark {
    filter: grayscale(0.9);
}

/* Stile in comune per icone header destra e sinistra */

.pr-icons {
    display: flex;
    gap: 20px;

    padding-right: 25px;
}

.pr-icons i {
    color: #B1B1B1;
    font-size: 25px;
}

  /* Stile in comune per placeholder */

input::placeholder {
    padding-left: 10px;
    padding-right: 10px;
  }


/* Classi da gestire con js */

.active {
    background-color: #E9EBEB;
}

.hidden {
    display: none;
}

.info-message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 20px;
    right: 0px;

    width: 150px;
    height: 70px;

    border-radius: 8px;

    background-color: #E9EBEB;
}

/* 

PARTE SINISTRA
ANTEPRIME DELLE CHAT

*/


#chats-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 560px;
    height: 100%;

    background-color: #FFFFFF;

}

/* Profilo personale */

#my-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 70px;

    padding-left: 8px;

    background-color: #EAEAEA;
}

#my-profile .my-img {
    display: flex;
    align-items: center;
    gap: 2px;
}

.my-img {
    width: 50px;
    height: 50px;
    
}

.my-img img {
    width: 100%;
    border-radius: 50%;
    
}


/* Notifiche */

#notific-received {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 80px;

    padding-left: 15px;

    background-color: #8EDAFC;
}

#notific-received .bell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: white;
}

#notific-received .bell i {
    color: #8EDAFC;
}

#notific-received a {

    color: #999;
    font-size: 0.9em;
}

/* Filtro ricerca */

#chats-filter {
    display: flex;
    align-items: center;
    gap: 40px;

    width: 100%;
    height: 50px;
    background-color: white;
}

#chats-filter button {

    padding-left: 30px;
    color: #B1B1B1;

    border: none;
    background-color: transparent;

}

#chats-filter input {
    flex-grow: 1;
    
    height: 80%;

    margin-right: 30px;

    border: none;
} 

/* Persone con cui chattare */

#chats {

    width: 100%;
    height: calc(100% - 70px - 80px -50px );

    overflow-y: auto;

    background-color: #FFFFFF;
}

#chats .single-chat {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 80px;

    padding-left: 15px;

}


#chats #friend {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    flex-grow: 1;
    height: 100%;

}

#chats #friend img {

    width: 50px;
    height: 50px;

    border-radius: 50%;
    
}

#chats .friend-name {
    font-size: 1.2em;
}

#chats .last-mess {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;
}

#chats .time-message {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;

    padding-right: 10px;
    padding-top: 10px;
}


/* 

PARTE DESTRA
CHAT APERTA

*/

#open-chat {
    flex-grow: 1;
    height: 100%;

}

/* Header Chat aperta */

#open-chat .friend-opened {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    width: 100%;
    height: 70px;

    background-color: #EAEAEA;
    border-left: 1px solid #B1B1B1;
}

.info-opened-friend {
    display: flex;
    align-items: center;
    gap: 15px;

    padding-left: 8px;

}

#open-chat .friend-opened img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.info-opened-friend .friend-name {
    font-size: 1.2em;
}

.info-opened-friend .last-message {
    font-size: 0.9em;
    color: #B1B1B1;
    opacity: 0.8;


}

/* Corpo del messaggio */

#open-messages {

    width: 100%;
    height: calc(100% - 70px - 70px);

    overflow-y: scroll;

    background-image: url("../img/mine.jpg");
}

#open-messages .container {

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;

    max-width: 800px;

    margin: 0 auto;

    padding-top: 50px;
}

.message {
    position: relative;

    width: 320px;

    border-radius: 8px;
    background-color: #d5f9ba;

    padding: 18px 16px;
    
}

.message .time {
    position: absolute;
    bottom: 6px;
    right: 6px;

    font-size: 8px;
    color: #999;
}

.message .to-delete-mess {
    position: absolute;
    top: 1px;
    right: 6px;

    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #999;
}

.message.sent {
    align-self: flex-end;
    background-color: #C2E3A9;
}

.message.received {
    background-color: #FDFDFD;
}


/* per scrivere messaggi */

#write-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    width: 100%;
    height: 70px;

    background-color: #E5E0DD;
}


#write-message .left-part-mess, 
#write-message .right-part-mess {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

#write-message i {
    font-size: 25px;
    color: #6B7375;
}


#write-message .central-part-mess {
    flex-grow: 1;
}

#write-message .central-part-mess input {
    width: 100%; 
    height: 50px;

    border: none;
    border-radius: 4px;
    
}



